.header {
    overflow: hidden;
    background-color: white;
    color: grey;
    text-decoration: none;
    padding: 26px 10px;
  }
.header-right {
  overflow: scroll;
  padding: 30px 15px;
}
a{
  text-decoration: none;
  color: grey;
}

  .carousel {
    height: 90%;
    width: 100%;
    
  }

  .fix-carousel{
    height: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .navbar {
    width: 100%;
    background-color: grey;
    text-decoration-color: black;
    color: black;
    text-align: right;
    overflow: auto;
    flex-direction: row;
  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  .text {
    text-align: center;
    color: black;
  }

  .map {
    display: flex;
    text-align: center;
  }



  .footer {
    display: flex;
    background-color: rgb(192, 53, 53);
    justify-content: end;
    text-emphasis-color: white;
}