.logo{
    color: red;
    background-color: rgb(215, 215, 224);
    height: 10rem;
}
.navbar{
    color: darkblue;
    cbackground-color: rgb(185, 185, 196);

}



.parte1{
    color: red;
    background-color: rgb(190, 224, 150);
    height: 30rem;
}

.parte2{
    color: yellow;
    background-color: gray;
    height: 30rem;
}
.parte2a{
    color: rgb(246, 246, 250);
    background-color: rgb(228, 217, 217);
    height: 50%;
}
.parte2b{
    color: darkblue;
    background-color: white;
    height: 45%;
}

.parte3{
    color: blue;
    background-color: yellow;
    height: 10rem;
}


.h1 {
    color: yellow
}

.p {
    height: 100%;
    }


ul {
        list-style-type: circle; 
}